.ribbon{
	margin-top: 20px;
	position: relative;
	text-align: center;
}
ul#main_nav{
		margin-top: -43px;
		position: relative;
		li{
			display: inline-block;
			padding: 10px 20px;
			&+ li{
				margin-left: 80px;
			}
			&:nth-child(2){
				margin-right: 40px;
			}
			&:hover{
				background-image: url('images/menu_hover.jpg'), url('images/menu_hover.jpg');
				background-repeat: no-repeat;
				background-position: left center, right center;
			}
			a{
				font-family: $montserrat;
				font-size: 16px;
				font-weight: 400;
				color: $pink;
				text-transform: uppercase;
			}
		}
}
section{
	h1{
		color: $medgrey;
	}
	&#about{
		background-color: $pink;
		color: #ffffff;
		padding-bottom: 50px;
		h1{
			color: #ffffff;
		}
		h2{
			text-align: center;
			a{
				@include text-link;
				border-bottom-width: 2px;
			}	
			&+ h2{
			}
		}
		.cta{
			padding: 4px 16px 5px;
			border-width: 1px;
			border-style: solid;
			border-radius: 12px;
			width: intrinsic;
			border-color: #ffffff;
			text-align: center;
			cursor: pointer;
			margin: 60px auto 0px;
			&:hover{
				background-color: #ffffff;
				color: $pink;
			}
			h4{
				content: "Read More";
				
			}
		}
		.more{
			display: none;
			div{
				margin-top: 60px;
			}
			div.two-up{
				columns: 380px 2;
				-webkit-columns: 380px 2;
				-moz-columns: 380px 2;
				-o-columns:380px 2;
				-moz-column-gap:30px; 
				-webkit-column-gap:30px; 
				column-gap:30px;
				-o-column-gap:30px;
				p{
				}
			}
			div.jurors{
				ul.jurors{
					margin-bottom: 60px;
					li{
						display: inline-block;
						padding: 3px 10px;
						font-family: $lato;
						font-weight: 200;
						&:before{
							content: '\25CF';
							padding-right: 20px;
						}
					}
				}
			}
		}
	}
	&#email{
		background-color: $lightgrey;
		padding-top: 30px;
		padding-bottom: 60px;
		margin-top: 70px;
		form, form#mad_mimi_form2{
  			& *{
    		display: inline-block;
    		vertical-align: bottom;
    		}
    		.mad_mimi_error{
	    		background-color: $purple;
	    		color: $white;
	    		padding: 0 10px;
	    		border-radius: 6px;
    		}
		}
	}
	&#top{
		padding-top: 20px;
		h3{
			color: $medgrey;
		}
		.pagedown{
		}
	}
	&#contact{
		.container{
			div{
				width: 250px;
				display: inline-block;
				vertical-align: top;
				padding-right: 40px;
				&.twitter{
					p{
						font-size: 15px;
						padding-bottom: 20px;
						border-bottom: 1px solid $lightgrey;
						line-height: 19px;
						&:first-of-type{
							margin-top: 20px;
						}
						a{
							border-bottom: none;
							color: $pink;
						}
					}
				}
				&.links{
					width: 270px;
					h3{
						&:first-of-type{
							margin-top: 0px;
						}
					}
				}
			}
		}
	}
}
input[type=submit]{
  background-image: url('images/return.png');
  width: 39px;
  height: 19px;
  background-repeat: no-repeat;
  border: none;
  background-color: $lightgrey;
  cursor: pointer;
  padding: 0px;
  margin-bottom: 5px;
  margin-left: -40px;
}
input[type=email]{
	border-bottom: 2px dotted $medgrey;
	width: 500px;
	background-color: $lightgrey;
	font-size: 25px;
	font-weight: 100;
	text-align: center;
	border-top: none;
	border-right: none;
	border-left: none;
	margin-top: 25px;
	padding-bottom: 4px;
	margin-bottom: 0px;
	padding-right: 20px;
	outline: none;
	&:focus{
		border-bottom-color: $darkgrey;
	}
}
input[type=text]{
	border-bottom: 2px dotted $medgrey;
	width: 500px;
	background-color: $lightgrey;
	font-size: 25px;
	font-weight: 100;
	text-align: center;
	border-top: none;
	border-right: none;
	border-left: none;
	margin-top: 25px;
	padding-bottom: 4px;
	margin-bottom: 0px;
	padding-right: 20px;
	outline: none;
	&:focus{
		border-bottom-color: $darkgrey;
	}
}
a{
	&.btn{
		@include btn;
		color: $pink;
		font-family: $lato;
		font-size: 14px;
		font-weight: 900;
		margin-top: 7px;
	}
}